.default-frontend-tracker-details {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: 100%;
    column-gap: 50px;
}
.default-frontend-tracker-details div {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: min-content min-content min-content;
    column-gap: 10px;
}
.default-frontend-tracker-details div label:nth-child(odd){
    text-align: right;
    opacity: 0.8;
}
.default-frontend-tracker-details div label:nth-child(even){
    font-family: var(--font-family-monospace);
    font-size: var(--font-size-h5);
    opacity: 0.8;
    display: flex;
    align-items: center;
    height: 100%;
}

.default-frontend-tracker-details label {
    white-space: nowrap;
}


#tracker-details-frontend-space .default-frontend-tracker-details input {
    padding: 0;
    min-width: 100px;
}